@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
}

body {
  height: 100vh;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  height: 400px; 
  width: 1400px;

  
}

.relogio div {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  41px 41px 82px #bebebe,
               -41px -41px 82px #ffffff;
  letter-spacing: 3px;
}
.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 15px;
}
